extends layout 

block content 
    h1 Message Form 

    form(action="/new", method="post")
        input(type="text" name="author" id="author" placeholder="Name")
        input(type="text" name="messageText" id="messageText" placeholder="Message")
        button(type="submit") Submit