extends layout 

block content 
    h1 Message Form 

    form(action="/new", method="post")
    input(type="text" placeholder="Name")
    input(type="text" placeholder="Message")
    button(type="submit") Submit